@import "tailwindcss"; 
/* Si usas la v4, o @tailwind base; etc si usas la v3 */

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif; /* Fuente limpia */
  background-color: #f3f4f6; /* Gris muy suave de fondo */
  overflow: hidden; /* Evitamos scroll en el body, lo manejamos en el main */
}
